<!DOCTYPE html>
<html>
<head>
    <title>View Database</title>
</head>
<body>
    <h2>Database Content</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Phone Number</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/">Back to Form</a>
</body>
</html>
